[Unit]
Description=BG77 Module Service
After=network.target

[Service]
User=visioncraft
Type=simple
WorkingDirectory=/home/visioncraft/Modem
ExecStart=/home/visioncraft/Modem/.venv/bin/python3 /home/visioncraft/Modem/app.py -m att
Environment=PYTHONUNBUFFERED=1
Restart=never

[Install]
WantedBy=multi-user.target
